# Django settings
SECRET_KEY=dlfksdfsdkfjgsdkjfbIUHPPUPIUBdasbdipudbf43987539-485jgkbdg
DJANGO_SETTINGS_MODULE=core.settings.base
DEBUG=True

# Database settings postgresql
DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=bot
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5435

# redis and celery settings
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379
WEBHOOK_URL=https://admin.sherzamon.cloud
TELEGRAM_LOGS_CHAT_ID=-100123456

SET_WEBHOOK=True

#BOT TOKENS
KINO_BOT_TOKEN=7015018136:AAEsRZOz4CN8pRwu56vmLJRbe23IyALWoig
COMMON_BOT_TOKEN=7160457791:AAFjxXbTdX1tKivvqdev-9vKZXk07iK-ZQA

#https://api.telegram.org/bot7015018136:AAEsRZOz4CN8pRwu56vmLJRbe23IyALWoig/getWebhookInfo
#https://api.telegram.org/bot7015018136:AAEsRZOz4CN8pRwu56vmLJRbe23IyALWoig/setWebhook?url=https://admin.sherzamon.cloud/cinema_bot/bot/

#https://api.telegram.org/bot7160457791:AAFjxXbTdX1tKivvqdev-9vKZXk07iK-ZQA/getWebhookInfo
#https://api.telegram.org/bot7160457791:AAFjxXbTdX1tKivvqdev-9vKZXk07iK-ZQA/setWebhook?url=https://admin.sherzamon.cloud/common_bot/bot/


